<div class="container" style="margin-top: 60px;">
  <div class="columns is-centered">
    <div class="box column is-two-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>

      <p class="has-text-centered"> 
        <span [class] = "compare(letter, enteredText[i])" *ngFor="let letter of randomText.split(''); let i = index;">{{ letter }}</span>  
      </p>
      
      <div class="field">
        <input placeholder="start typing above here!" class="input" (input) = "onInput($event.target.value)" [value] = "enteredText"/>
      </div>
      
      <div *ngIf = "randomText === enteredText" class="box has-text-centered">
        <h1 class="title">Success</h1>
        <button (click) = "generate()">Generate New</button>
      </div>
      
    </div>    
  </div>  
</div>
